* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0e0e0e;
  color: #ffffff;
}

section {
  padding: 100px 10%;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.2rem;
  color: #aaa;
  margin-top: 10px;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 30px;
}

.section p {
  max-width: 700px;
  line-height: 1.8;
  color: #ccc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #161616;
  padding: 20px;
  border-radius: 10px;
}

.project {
  background: #161616;
  padding: 25px;
  border-radius: 12px;
}

.project span {
  font-size: 0.9rem;
  color: #aaa;
}

.project ul {
  margin-top: 15px;
  padding-left: 20px;
}

.project li {
  margin-bottom: 8px;
  color: #ccc;
}

.contact {
  text-align: center;
  padding-bottom: 120px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: white;
  color: black;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}
